<!-- views/applications/show.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= foodItem.foods %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Pantry item: <%= foodItem.foods %></h1>
    <br />
    <a href="/users/<%= user._id %>/foods/<%= foodItem._id %>/edit">
      Edit this pantry item
    </a>
    <br />
    <form
      action="/users/<%= user._id %>/foods/<%= foodItem._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete this item from my pantry.</button>
    </form>
    <br />
    <a href="/users/<%= user._id %>/foods">Back to Pantry</a>
  </body>
</html>
